@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --color-primary: #4d5be6;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
  @apply block h-0.5;
}

::-webkit-scrollbar {
  @apply hidden;
}

button {
  cursor: pointer;
}
